<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>work area2</title>

    <script src=".{{ url_for('static', filename = 'js/cytoescape.min.js') }}"></script>
    <style>
        .github {
            background-color: azure !important;
        }

        #cy {
            width: 1200px;
            height: 800px;
            display: block;
            /*background-color: #1A1A1A;*/
        }
    </style>
</head>

<body>

    <h1>hi</h1>
    <img src="https://bashgardi.ir/media/pipe.png">
    <div id="cy"></div>
    <button onclick="changeLine()">Change line</button>
</body>
<script>



    let cy;

    cy = cytoscape({
        container: document.getElementById('cy'), // container to render in

        elements: [ // list of graph elements to start with
            { // node a
                data: { id: 'a' }

            },
            { // node b
                data: { id: 'b' }
            },
            { // edge ab
                data: { id: 'ab', source: 'a', target: 'b' }
            }
        ],

        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    'label': 'data(id)',
                    'background-opacity': 0,
                    'background-image': "{{ url_for('static', filename = 'pics/pipe.svg') }}",
                    'background-image-crossorigin': 'null',
                    'background-fit': 'cover',
                    'border-width': 1,
                    'padding-left': 10,
                    'border-opacity': 0.5,
                    'shape': 'rectangle'
                }
            },

            {
                selector: 'edge',
                style: {
                    'width': 3,
                    'line-color': '#00ADEE',
                    'target-arrow-color': '#ccc',
                    'target-arrow-shape': 'none',
                    'curve-style': 'bezier'
                }
            }
        ],

        layout: {
            name: 'grid',
            rows: 2
        }
    });
    cy.add({
        group: 'nodes',
        data: { id: "c", weight: 75 },
        position: { x: 300, y: 200 }
    });
    cy.add({
        group: 'edges',
        data: { id: "sas", source: "a", target: "c" }
    });

    var node = cy.getElementById('a');



    cy.on('drag', 'node', function (event) {
        var node = event.target;
        // Do something with the dragged node
        console.log('Dragging node:', node.id());
    });




    console.log(node.layout);

    var nodes = cy.nodes();

    // Iterate over the nodes
    nodes.forEach(function (node) {
        // Print the node's ID
        console.log(node.id());
    });



    function changeLine() {
        var svgString2 = `<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 60 20">
            <defs>
                <style>
                .cls-1 {
                    fill: url(#linear-gradient);
                    stroke: #00386c;
                }

                .cls-1, .cls-2 {
                    stroke-miterlimit: 10;
                }

                .cls-2 {
                    fill: none;
                    stroke: #00adee;
                }
                </style>
                <linearGradient id="linear-gradient" x1="2.9" y1="10" x2="57.1" y2="10" gradientUnits="userSpaceOnUse">
                <stop offset=".23" stop-color="#bf2025"/>
                <stop offset=".66" stop-color="#eaff15"/>
                <stop offset="1" stop-color="#22f"/>
                </linearGradient>
            </defs>
            <rect class="cls-1" x="2.9" y="8" width="54.2" height="4"/>
            <path class="cls-2" d="M2.3,13h-1.2c-.3,0-.6-.3-.6-.6v-4.8c0-.3.3-.6.6-.6h1.2c.3,0,.6.3.6.6v4.8c0,.3-.3.6-.6.6Z"/>
            <path class="cls-2" d="M58.9,13h-1.2c-.3,0-.6-.3-.6-.6v-4.8c0-.3.3-.6.6-.6h1.2c.3,0,.6.3.6.6v4.8c0,.3-.3.6-.6.6Z"/>
            </svg>
            `

        var svgBase64 = btoa(svgString2);

        var dataUrl = 'data:image/svg+xml;base64,' + svgBase64;


        node.style({
            "font-size": 20,
            'width': '140px',
            'height': '10px',
            'background-image': dataUrl
        });






    }
</script>

</html>