<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>work area2</title>

    <script src=".{{ url_for('static', filename = 'js/cytoescape.min.js') }}"></script>
    <style>
        .github {
            background-color: azure !important;
        }

        #cy {
            width: 1200px;
            height: 800px;
            display: block;
            /*background-color: #1A1A1A;*/
        }
    </style>
</head>

<body>

    <h1>hi</h1>
    <img src="https://bashgardi.ir/media/pipe.png">
    <div id="cy"></div>
</body>
<script>
    let cy;

    cy = cytoscape({
        container: document.getElementById('cy'), // container to render in

        elements: [ // list of graph elements to start with
            { // node a
                data: { id: 'a' }

            },
            { // node b
                data: { id: 'b' }
            },
            { // edge ab
                data: { id: 'ab', source: 'a', target: 'b' }
            }
        ],

        style: [ // the stylesheet for the graph
            {
                selector: 'node',
                style: {
                    'label': 'data(id)',
                    'background-opacity': 0,
                    'background-image': "{{ url_for('static', filename = 'pics/pipe.svg') }}",
                    'background-image-crossorigin': 'null',
                    'background-fit': 'cover',
                    'border-width': 1,
                    'padding-left': 10,
                    'border-opacity': 0.5,
                    'shape': 'rectangle'
                }
            },

            {
                selector: 'edge',
                style: {
                    'width': 3,
                    'line-color': '#00ADEE',
                    'target-arrow-color': '#ccc',
                    'target-arrow-shape': 'none',
                    'curve-style': 'bezier'
                }
            }
        ],

        layout: {
            name: 'grid',
            rows: 2
        }
    });
    cy.add({
        group: 'nodes',
        data: { id: "c", weight: 75 },
        position: { x: 300, y: 200 }
    });
    cy.add({
        group: 'edges',
        data: { id: "sas", source: "a", target: "c" }
    });

    var node = cy.getElementById('a');

    node.style({
            "font-size": 20 // or any other value you want
        });

    console.log(node.elements);

    var nodes = cy.nodes();

    // Iterate over the nodes
    nodes.forEach(function (node) {
        // Print the node's ID
        console.log(node.id());
    });
</script>

</html>